@font-face {
    font-family: montseral-f;
    src: url('/fonts/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
    url('/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Montserrat-Thin.woff') format('woff'),
    url('/fonts/Montserrat-Thin.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'GolosTextWebVF';
    src: url('../fonts/Golos/golos-text_vf.woff2') format('woff2'),
    url('../fonts/Golos/golos-text_vf.woff') format('woff');

    font-style: normal;
}