.watching_selection {
    margin-top: 1vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}
.video_container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#video {
    background-color: var(--elements-background-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 99vw;
}